body {
  background-color: Black;
}

.container {
  position: absolute;
}
#meta_container {
  position:   fixed;
  visibility: hidden;
}

#game_container {
  width:  800px;
  height: 600px;
  margin-left:  auto;
  margin-right: auto;

  font-family: Verdana;
  font-size:   13pt;
  color:       White;
}


/*---------------------
 * Opening Board
 * --------------------*/

#opening_container {
  position: absolute;
  width:  800px;
  height: 600px;
}

.opening_item {
  width: 300px;
  height: 200px;
}

.background {
  background-color: #7777CC;
  position: absolute;
  z-index: -1;
  width:   800px;
  height:  600px;
}

#person_image {
  position: absolute;
}

/*---------------------
 * Menu Button
 * --------------------*/

.menu_button {
  position:absolute;
  width:   100px;
  height:  40px;
}

#menu_button_container {
  margin: 5px 5px 5px 5px;
}

#menu_button {
  width:   100px;
  height:  40px;
  padding: 1px 5px 0px 5px;
  opacity: 1.0;
  text-align:center;
}

#menu_button:active {
  width:   90px;
  height:  30px;
  padding: 0.9px 4.5px 0px 4.5px;
  margin:  5px 5px 5px 5px;
}

/*---------------------
 * Menu Screen
 * --------------------*/

.menu {
  position: absolute;
  width: 400px;
  height: 400px;
}

#menu_container {
  margin: 50px 150px 150px 175px;
}

#menu_items_container {
  position: absolute;
  width: 400px;
  height: 400px;
  opacity: 1.0 !important;
}

.menu_item {
  position: absolute;
  z-index: 1;
  width:   200px;
  height:  50px;
  margin:  10px 100px 10px 100;
}

.menu_item:active {
  width: 180px;
  height: 40px;
  margin: 15px 110px 15px 110px;
}

/*---------------------
 * Status Area
 * --------------------*/

#status_container {
  position: absolute;
  margin-top: 60px;
  margin-left: 5px;
  width: 200px;
  min-height: 50px;
}

#status_box {
  width: 200px;
  min-height: 50px;
  position: absolute;
}

#status_items {
  margin: 5px 5px 5px 5px;
  position: absolute;
}

.status_item {
  margin: 3px 3px 3px 3px;
}

.indicator, #indicator_box {
  position:   absolute;
  width:      200px;
  min-height: 50px;
}

#indicator_container {
  margin-left: 300px;
  margin-top:  15px;
}

#indicator_area {
  width: 190px;
  position:   absolute;
  text-align: center;
  padding: 7px 5px 7px 5px;
  z-index:  1;
  font-weight: bold;
}

.box {
  border: solid;
  border-color: #000000;
  background-color: #777777;
  border-radius: 15px;
  opacity: 0.7;
}


.dialogue {
  margin-left: 50px;
  top:      450px;

  position: absolute;
}
#dialogue_box {
  width:  700px;
  height: 140px;
}

#dialogue_area {
  width: 640px;
  height: 100px;
  padding: 20px 30px 20px 30px;

  z-index: 1;
}

#travel_container {
  position: absolute;
  width: 200px;
  margin-top: 300px;
  margin-left: 650px;
}

#travel_links {
}

.link_container {
  width:   100px;
  min-height:  25px;
  margin:  10px 10px 10px 10px;
}

.link {
  width: 100px;
  min-height: 25px;
  padding: 1px 5px 0px 5px;
  opacity: 1.0;

  text-align: center;
}

.link:active {
  width:  95px;
  min-height: 20px;
  margin: 3.5px 2.5px 2.5px 2.5px;
  padding: 0px 5px 0px 5px;
}

