#game_container {
  width:  800px;
  height: 600px;
  margin-left:  auto;
  margin-right: auto;
  background-color: #DD7777;
}

#menu {
  width:  60px;
  height: 40px;
  position: absolute:
}

.dialogue {
  margin-left: 50px;
  top:      450px;

  position: absolute;

}
#dialogue_box {
  width:  700px;
  height: 140px;
  border: solid;
  border-color: #000000;

  background-color: #777777;
  opacity: 0.7;
  border-radius: 15px;
}

#dialogue_area {
  width: 640px;
  height: 100px;
  padding: 20px 30px 20px 30px;

  z-index: 1;
  color :  White;

  font-family: Verdana;
  font-size  : 13pt;
}
